.Chat-page {
    margin: 8% auto 0 auto;
    display: flex;
    width: 95%;
    justify-content: center;
}

.chat-sidebar {
    width: 30%;
    border-radius: 20px;
    background-color: #EFEFEF;
    /* padding: 15px; */
    font-family: 'Jost';
}

.chat-item-holder {

    height: 67vh;
    overflow-y: scroll;
}

.chat-item-holder::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.chat-item-holder::-webkit-scrollbar-track {
    border: none;
    background-color: transparent;
}

.chat-title {
    margin: 5px 0;
    font-size: 38px;
    font-weight: 600;
    padding: 15px;
}

.chat-area {
    width: 70%;
    border-radius: 20px;
    position: relative;
    background-color: #F8F8F8;
}


.chat-item {
    padding: 15px;
    display: flex;
    font-family: 'Jost';
    color: #121212;
}

.chat-item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.452);
}

.chat-item .image-holder {
    width: 40px;
    align-items: center;
    display: flex;
}

.chat-item .image-holder img {
    width: 100%;
}

.chat-item .text-area {
    margin-left: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.chat-item .text-area .name-txt span {
    font-size: 18px;
    font-weight: 600;
    margin-right: 5px;
}

.chat-item .text-area .name-txt {
    font-size: 16px;
    font-weight: 500;
}

.chat-item .text-area .msg-txt {
    font-size: 16px;
    font-weight: 500;
}

.chat-area .head {
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #EFEFEF;
    padding: 10px 20px;

}

.chat-area .head .user {
    display: flex;
}

.chat-area .head .user .username {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Jost';
    margin-left: 10px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-area .head .user .username div {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    color: #797979;

}

.chat-area .head .user .username div span {
    margin-left: 5px;
}

.chat-area .head .user .img-holder {
    width: 40px;
}

.chat-area .head .user .img-holder img {
    width: 100%;
}

.chat-area .foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    background-color: #EFEFEF;
    align-items: center;
    padding: 10px 20px;
}

.chat-area .foot input {
    width: 95%;
    font-family: 'Jost';
    font-size: 16px;
    color: #121212;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: transparent;
}

.chat-area .foot input::-webkit-input-placeholder {
    color: #9D9D9D;
    font-weight: 500;
    font-size: 16px;
}

.chat-area .foot span {
    width: 5%;
    cursor: pointer;
}

.chat-canvas {
    background-color: #F8F8F8;
    height: 65vh;
    padding: 40px 15px;
    display: flex;
    flex-direction: column-reverse;
    /* justify-content: flex-end; */
    overflow-y: auto;
}
.chat-canvas::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.chat-canvas::-webkit-scrollbar-track {
    border: none;
    background-color: transparent;
}


.My-message {
    display: flex;
    align-items: start;
    justify-content: end;
    margin: 5px 0;
}

.My-message .time {
    color: #797979;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Jost';
    margin-right: 10px;
    margin-top: 10px;
}

.My-message .msg {
    border-radius: 25px;
    padding: 10px;
    background-color: #B600D1;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    max-width: 60% !important;
}


.other-msg {
    display: flex;
    align-items: start;
    margin: 5px 0;
}

.other-msg .img-holder {
    width: 40px;
}

.other-msg .img-holder img {
    width: 100%;
}

.other-msg .msg {
    border-radius: 25px;
    padding: 10px;
    background-color: #2636D9;
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Jost';
    max-width: 60% !important;
    margin-inline: 8px;
}

.other-msg .time {
    color: #797979;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Jost';
    margin-right: 10px;
    margin-top: 10px;
}