:root {
  /* Text */
  /* Color */
  --black: #000;
  --white: #fff;
  --bg-gradient: linear-gradient(90deg, rgba(36, 56, 203, 1) 0%, rgba(182, 0, 209, 1) 100%);
  --primary: #B600D1;
  --secoundary: #2438CB;
  --lightGray: #B6B6B6;
  /* --orange: #f68d29;
      --light: #F6F6F6;
      --lighter: #F6F6F655;
      --red: rgb(207, 32, 47);
      --light-gray: #ECECEC;
      --medium-gray: #D7D7D7;
      --dark: #353f52;
      --light-dark: #5b616e;
      --gold: #F2B218;
      --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      --border-shadow: var(--white);
      --fade-white: rgba(255, 255, 255, 0.5);
      --primary-border: 1px solid var(--medium-gray);
      --gray: #ACACAC; */
  /* size */
  /* --nav-height: 72px;
      --main-radius: 2em;
      --secondary-radius: 1em;
      --tertiary-radius: 0.5em; */
  /* shapes */
  /* --primary-shape: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
      --alternate-shape: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); */
  /* effects */
  /* --primary-transition: all 0.3s ease; */
  /* borders */
  /* --dashed-border: 1px dashed var(--gray);
      --solid-border: 1px solid var(--gray);
      --section-border: 3px solid var(--medium-gray); */
}

/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BlackItalic.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLightItalic.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-LightItalic.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-MediumItalic.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf');
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.profile-drawer {
  padding: 25px;
}

.profile-drawer .nft-image {
  border-radius: 18px;
  width: 100%;
}

.profile-drawer .first-line {
  display: flex;
  justify-content: left;
  align-items: center;
}

.profile-drawer .first-line h2 {
  font-family: 'Jost';
  font-size: 40px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
  margin-right: 10px;
}

.profile-drawer img {}

.profile-drawer .second-line {}

.profile-drawer .second-line p {
  font-family: 'Jost';
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .second-line p span {
  color: var(--primary);
  text-decoration: underline;
}

.profile-drawer .three-line {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 10px;
}

.profile-drawer .three-line svg {
  font-size: 26px;
  margin-top: -8px;
  margin-right: 5px;
}

.profile-drawer .three-line span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4949;
}

.profile-drawer .four-line {
  margin-top: 10px;
}

.profile-drawer .four-line p {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
  padding-right: 115px !important;
}

.profile-drawer .pro-dtails {
  padding-left: 20px;
}

.profile-drawer .four-line {}

.profile-drawer .four-line h3 {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6F6F;
  padding-bottom: 5px;
}

.profile-drawer .four-line .logo-name {}

.profile-drawer .four-line .logo-name img {
  border-radius: 100%;
  margin-right: 5px;
}

.profile-drawer .four-line .logo-name span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
}

.profile-drawer .five-line {
  margin-top: 25px;

}

.profile-drawer .five-line button {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  border: 2px solid #929292;
  color: #929292;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 15px;
}

.profile-drawer .five-line button.active {
  border: 2px solid var(--primary);
  color: var(--primary);

}

.profile-drawer .five-line {}

.profile-drawer .six-line {}

.profile-drawer .six-line h3 {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .six-line .left {}

.profile-drawer .six-line .left p {
  font-family: 'Jost';
  font-size: 30px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  color: #121212;
}

.profile-drawer .six-line .left p span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6F6F;
  margin-left: 10px;
}

.profile-drawer .six-line .right {
  text-align: right;
}

.profile-drawer .six-line .right p {
  font-family: 'Jost';
  font-size: 30px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: right;
  color: #121212;
}

.profile-drawer .six-line .right p span {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6F6F;
  margin-left: 10px;
}

.profile-drawer .seven-line {
  display: flex;
  align-items: center;
}

.profile-drawer .seven-line {
  margin-top: 15px;
}

.profile-drawer .seven-line span:nth-child(2) {
  font-family: 'Jost';
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #929292;
}

.profile-drawer .seven-line span:nth-child(1) {
  width: 27.51px;
  height: 27.51px;
  border: 3px solid #B600D1;
  border-radius: 6px;
  margin-right: 10px;
}

.profile-drawer .seven-line span:nth-child(1) svg {
  display: flex;
  width: 100%;
  height: 100%;
  /* color: var(--primary); */
}

.red {
  color: #B600D1;
}

.black {
  color: #fff
}

.profile-drawer .eight-line {
  margin-top: 20px;
}

.profile-drawer .eight-line button {
  background: var(--bg-gradient);
  color: var(--white);
  border: none;
  border-radius: 12px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  padding: 7px 50px;
}

.hide-on-desktop-screen {
  display: none;
}

.hide-on-mobile-screen {
  display: block;
}

.profile-drawer-cancle {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  right: 7px;
  top: -19px;
  z-index: 9999;
  cursor: pointer;
}

.rbd-xg38tw4z7qb-hw {
  display: none;
}

.profile-drawer-wrapper {
  width: 90vw !important;
  left: 5vw !important;
}

.nft-drawer-wrapper{
  width: 100vw !important;
  left: 0vw !important;
}

.profile-drawer-wrapper__content {
  max-height: calc(85vh - 25px) !important;
}


@media only screen and (max-width: 992px) {
  .profile-drawer .first-line h2 {
    font-size: 28px;
    line-height: 48px;
  }

  .profile-drawer .second-line p {
    font-size: 18px;
    line-height: 22px;
  }

  .profile-drawer .three-line span {
    font-size: 16px;
    line-height: 22px;
  }

  .profile-drawer .three-line svg {
    font-size: 20px;
    margin-top: -4px;
    margin-right: 5px;
  }

  .profile-drawer .four-line p {
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-right: 0px !important;
  }

  .profile-drawer .four-line h3 {
    font-size: 16px;
  }

  .profile-drawer .four-line .logo-name span {
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #121212;
  }

  .profile-drawer {
    padding: 25px 10px;
  }

  .profile-drawer .five-line button {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #929292;
    color: #929292;
    border-radius: 8px;
    padding: 2px 15px;
    margin-right: 12px;
  }

  .profile-drawer .six-line h3 {
    font-size: 18px;
  }

  .profile-drawer .six-line .left p {
    font-family: 'Jost';
    font-size: 22px;
    padding-top: 10px !important;
  }

  .profile-drawer .six-line .right p {
    font-family: 'Jost';
    font-size: 18px;
    padding-top: 10px !important;
  }
}

@media only screen and (max-width: 768px) {



  .profile-drawer {
    padding: 0px 0px 25px 10px;
  }

  .profile-drawer .first-line {
    padding-top: 15px;
  }

  .profile-drawer .pro-dtails {
    padding-left: 0px;
  }

  .profile-drawer .four-line .logo-name img {
    width: 40px;
  }

  .profile-drawer .five-line {
    margin-top: 20px;
  }

  .profile-drawer .five-line .share-links-social {
    margin-bottom: 20px;
  }



}

@media only screen and (max-width: 568px) {
  .hide-on-desktop-screen {
    display: block;
  }

  .hide-on-mobile-screen {
    display: none;
  }

  .profile-drawer-cancle {
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    background: #fff;
    height: 30px;
    width: 30px;
    line-height: 19px;
    text-align: center;
    border-radius: 15px;
  }
}

.stock-div {
  width: max-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #121212;
  font-size: 30px;
  font-weight: 700;
}

.stock-div span {
  margin-left: 10px;
  color: #6F6F6F;
  font-weight: 500;
  font-size: 18px
}