:root {
  /* Text */
  /* Color */
  --black: #000;
  --white: #fff;
  --bg-gradient: linear-gradient(90deg, rgba(36, 56, 203, 1) 0%, rgba(182, 0, 209, 1) 100%);
  --primary: #B600D1;
  --secoundary: #2438CB;
  --lightGray: #B6B6B6;
  /* --orange: #f68d29;
      --light: #F6F6F6;
      --lighter: #F6F6F655;
      --red: rgb(207, 32, 47);
      --light-gray: #ECECEC;
      --medium-gray: #D7D7D7;
      --dark: #353f52;
      --light-dark: #5b616e;
      --gold: #F2B218;
      --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      --border-shadow: var(--white);
      --fade-white: rgba(255, 255, 255, 0.5);
      --primary-border: 1px solid var(--medium-gray);
      --gray: #ACACAC; */
  /* size */
  /* --nav-height: 72px;
      --main-radius: 2em;
      --secondary-radius: 1em;
      --tertiary-radius: 0.5em; */
  /* shapes */
  /* --primary-shape: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
      --alternate-shape: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); */
  /* effects */
  /* --primary-transition: all 0.3s ease; */
  /* borders */
  /* --dashed-border: 1px dashed var(--gray);
      --solid-border: 1px solid var(--gray);
      --section-border: 3px solid var(--medium-gray); */
}

/* Poppins Font */
@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('../src/assets/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../src/assets/fonts/Jost/Jost-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BlackItalic.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-BoldItalic.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraBoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-ExtraLightItalic.ttf');
  font-weight: 300;
}


@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-LightItalic.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-MediumItalic.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../src/assets/fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf');
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

/* a{
    text-decoration: none;
  } */

.css-vurnku {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  height: 310px;
  margin-bottom: 50px;
}

.css-vurnku .doted-icon {
  position: absolute;
  right: 19px;
  top: 0px;
  font-size: 28px;
  color: #4A4949;
  z-index: 99;
}

.css-vurnku .social-links,
.sec-five-wrap .image .social-links {
  position: absolute;
  z-index: 10;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(182, 0, 209, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: 5;
}

.css-vurnku .social-links ul,
.sec-five-wrap .image .social-links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.css-vurnku .social-links ul li,
.sec-five-wrap .image .social-links ul li {
  padding: 10px 0px;
}

.css-vurnku .social-links ul li:last-child,
.sec-five-wrap .image .social-links ul li:last-child {
  padding-bottom: 35px;
}

.css-vurnku .social-links ul li a,
.sec-five-wrap .image .social-links ul li a {
  font-family: 'Jost';
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.css-118gt74 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  /* box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.04) 0px 3px 6px, rgba(24, 26, 32, 0.04) 0px 1px 2px; */
}


a {
  text-decoration: none !important;
  /* color: rgb(35, 35, 35) !important; */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.profile-buy-card {
  padding: 60px 60px;
}

.css-15eyh94 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  width: 100%;
  padding-bottom: 82%;
}

.css-2r2ti0 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.css-15xcape {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  border-width: 0px;
  border-style: solid;
  /* border-color: rgb(234, 236, 239); */
}

img {
  border: none;
  vertical-align: middle;
}

.css-1x6j51d {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  top: 8px;
  background: linear-gradient(109.81deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 103.77%);
  backdrop-filter: blur(10px);
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 0px;
  right: 8px;
}

.css-1xg74gr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  /* border-top: 1px solid rgb(234, 236, 239); */
  transition: all 0.2s ease 0s;
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.css-118gt74:hover {
  /* transform: translateY(-4px); */
  /* box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(24, 26, 32, 0.08) 0px 3px 6px; */
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.26) !important;
  height: 104%;
}

.css-vurnku:hover .btc-gray-logo {
  opacity: 1;
}

.css-vurnku .J-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 8px 8px 0px 0px;
  background: none 0% 0% / contain;
  position: relative
}

.css-118gt74:hover .J-bottom {
  margin-top: -44px;
  padding-bottom: 60px;
}

.css-118gt74:hover .J-bottom-1 {
  margin-top: 0px !important;
}

.css-118gt74:hover .social-links ul li:last-child {
  padding-bottom: 85px;
  transition: .5s ease-in-out;
}

.css-118gt74:hover .css-1elubna {
  margin-top: -5px;
}

.css-1elubna {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: absolute;
  width: 100%;
  left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  transition: all 0.2s ease 0s;
}

.css-118gt74:hover .J-bottom {
  margin-top: -44px;
  padding-bottom: 65px;
}

.css-1xg74gr {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  position: relative;
  background-color: rgb(255, 255, 255);
  padding: 12px;
  /* border-top: 1px solid rgb(234, 236, 239); */
  transition: all 0.2s ease 0s;
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.btc-gray-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 1;
  z-index: 5;
  width: 30px;
  height: 30px;
  background: #f7931a;
  border-radius: 50%;
}

.btc-gray-logo span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btc-gray-logo svg {
  color: #fff;
  font-size: 14px;
}

/* .btc-gray-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 5;
} */

#active {
  background-color: #fff;
}


.J-buynow .button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-gradient);
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
  margin-top: 25px;
}

.J-buynow .button p {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white);
  padding: 0 !important;
  margin: 0px !important;
}

.J-buynow .button span {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  right: 0;
  padding: 5px 10px;
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  margin-top: auto;
}

.css-fwx73e .detail-wrap {
  padding: 30px 0px 0px 0px;
  position: relative;
}

.css-fwx73e .detail-wrap .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.css-fwx73e .detail-wrap .top .left {
  font-family: 'Jost';
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secoundary);
}

.css-fwx73e .detail-wrap .top .right {
  font-family: 'Jost';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4949;
}

.css-fwx73e .detail-wrap .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.css-fwx73e .detail-wrap .bottom .left {
  font-family: 'Jost';
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #4A4949;
}

.css-fwx73e .detail-wrap .bottom .right {
  font-family: 'Jost';
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--secoundary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-fwx73e .detail-wrap .bottom .right img {
  margin-right: 8px;
}




.css-fwx73e .detail-wrap .button span img {}

.css-fwx73e .detail-wrap .center-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.css-fwx73e .detail-wrap .center-icon .icon img:first-child {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid #FFF;
  width: 66px;
}

.css-fwx73e .detail-wrap .center-icon .icon {
  position: relative;
}

.css-fwx73e .detail-wrap .center-icon .icon img:last-child {
  position: absolute;
  top: -35px;
  right: -38px;
  /* transform: translate(-50% , -50%); */
}

.search-nft-wrap {
  padding: 0px 10px 30px 10px;
}

.search-nft-wrap img {
  border-radius: 12px;
}

.search-nft-wrap h2 {
  font-family: 'Jost';
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
}

@keyframes scroll {
  to {
    background-position: -500px 0;
  }
}

@media only screen and (min-width: 1399px) {
  .css-vurnku {
    height: 330px !important;
  }
}

@media only screen and (max-width: 1399px) {
  .css-vurnku {
    height: 330px !important;
  }
}

@media only screen and (max-width: 992px) {

  .home-first-wrap {
    width: 600px;
  }

  .css-vurnku {
    height: auto !important;
  }

  .css-1elubna {
    position: static;
  }

  .css-118gt74 {
    /* transform: translateY(-4px); */
    box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(24, 26, 32, 0.08) 0px 3px 6px;
    height: auto;
  }

  .css-118gt74:hover {
    /* transform: translateY(-4px); */
    box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(24, 26, 32, 0.08) 0px 3px 6px;
    height: auto;
  }

  .css-118gt74:hover .social-links ul li:last-child {
    padding-bottom: 0px;
    transition: .5s ease-in-out;
  }

  .css-118gt74:hover .css-1elubna {
    margin-top: 0px;
  }

  .css-118gt74:hover .J-bottom {
    margin-top: 0px;
    padding-bottom: 12px;
  }

  .btc-gray-logo {
    opacity: 1;
  }

  .css-fwx73e .detail-wrap {
    padding: 15px 0px 0px 0px;
  }

  .css-fwx73e .detail-wrap .center-icon .icon img:first-child {
    transform: translate(-50%, -70%);
  }

  .css-fwx73e .detail-wrap .center-icon .icon img:last-child {
    top: -50px;
  }
}


@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 568px) {}



/* New Cards */

.simple-card-main {
  margin: 10% 1%;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.simple-card-main:hover {
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.438);
}
.nft-fix-price{
  border: 2px solid white;
  padding: 3px 10px !important;
}

.simple-card-main .top {
  border-radius: 10px;
  position: relative;
}

.simple-card-main .top .share-icon {
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: 6;
}

.simple-card-main .top .social-media {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #B600D180;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.simple-card-main .top .social-media p {
  color: #FFFFFFB2;
  transition: all 0.2s ease-in-out;
  font-family: 'Jost';
  font-size: 18px;
  font-weight: 500;
  margin: 7px auto !important;
}

.simple-card-main .top .social-media p:hover {
  color: white;
}


.simple-card-main .top .image-holder {
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.simple-card-main .top .image-holder img {
  width: 100%;
  height: auto;
}

.simple-card-main .bottom .nft-icon {
  width: 60px;
  margin: -30px auto -10px auto;
  border-radius: 35px;
  border: 5px solid white;
  position: relative;
  z-index: 2;
}

.simple-card-main .bottom .nft-icon img {
  width: 100%;
}

.simple-card-main .bottom .nft-icon .checked-icon {
  position: absolute;
  z-index: 3;
  top: -10px;
  right: -2px;
  width: 20px;
}

.simple-card-main .bottom .text-area {
  margin: 0px auto;
  padding: 0 15px;
}

.simple-card-main .bottom .text-area .line-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simple-card-main .bottom .text-area .line-1:nth-child(1) div:nth-child(1) {
  color: #2636D9;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Jost';
}

.simple-card-main .bottom .text-area .line-1:nth-child(1) div:nth-child(2) {
  color: #4A4949;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Jost';
}

.simple-card-main .bottom .text-area .line-1:nth-child(2) div:nth-child(1) {
  color: #4A4949;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Jost';
}

.simple-card-main .bottom .text-area .line-1:nth-child(2) div:nth-child(2) {
  color: #2636D9;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Jost';
  margin-right: 10px;

}

.simple-card-main .bottom .text-area .line-1:nth-child(2) div:nth-child(2) svg {
  margin-right: 5px;

}

.simple-card-main .bottom .text-area .line-1:nth-child(2) {
  margin-top: 5px;

}